<!doctype html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    .jumbotron {
      background-color: #b5dbfc;
    }

    #cobot {

      width: 200px;
      height: 180px;
      background-image: url("/co1.png");
      margin: auto;
    }
  </style>

<body>


  <div class="jumbotron text-center">
    <h1 class="display-3">Stay Safe and Healthy!</h1>
    <p class="lead"><strong>Please check your email</strong> for daily updates on COVID-19, World wide!
    </p>
    <hr>
    <p>
      Please check you're email &#128567
    </p>

    <div id="cobot"></div>
  </div>

</body>